
<main class="ms-welcome__main">
    <clr-tabs>
        <clr-tab>
          <button clrTabLink>Form Fields</button>
          <clr-tab-content *clrIfActive>

            <p class="ms-font-l">Modify the source files, then click <b>Run</b>.</p>
            <div role="button" class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20" (click)="run()">
                <span class="ms-Button-label">Run</span>
                <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--ChevronRight"></i></span>
            </div>

          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Input Form</button>
          <clr-tab-content *clrIfActive="true">
            <form clrForm>
                <clr-input-container>
                  <label>Contract Number</label>
                  <input clrInput placeholder="XXXX-XXXX-XXXXX" name="contractNumber" [(ngModel)]="contractNumber" />
                </clr-input-container>

                <clr-input-container>
                    <label>Issue Date</label>
                    <input clrInput placeholder="dd/MM/yyyy" name="issueDate" [(ngModel)]="issueDate" />
                  </clr-input-container>

              </form>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>

</main>